.u-section-1 {background-image: url("images/BG.jpg"); background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-image-1 {min-height: 550px; background-image: url("images/HOME.jpg"); background-position: 50% 50%; margin: 80px auto 0}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-layout-wrap-1 {margin: -550px auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 538px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-1 {text-shadow: 1px 1px 3px rgba(173,204,233,1); box-shadow: 1px 1px 3px 0 rgba(0,0,0,0); font-size: 1.375rem; background-image: none; font-weight: normal; margin: 70px 0 0 20px}
.u-section-1 .u-layout-cell-2 {min-height: 538px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-group-2 {min-height: 60px; margin: -46px auto 0 0}
.u-section-1 .u-container-layout-4 {padding: 30px}
.u-section-1 .u-group-3 {min-height: 65px; margin: -92px auto 60px 0}
.u-section-1 .u-container-layout-5 {padding: 12px 30px 5px}
.u-section-1 .u-social-icons-1 {white-space: nowrap; height: 40px; min-height: 16px; width: 290px; min-width: 146px; animation-duration: 1000ms; margin: 0 0 0 auto}
.u-section-1 .u-icon-1 {height: 40px}
.u-section-1 .u-icon-2 {height: 40px}
.u-section-1 .u-icon-3 {height: 40px}
.u-section-1 .u-icon-4 {height: 40px}
.u-section-1 .u-icon-5 {height: 40px}
.u-section-1 .u-icon-6 {height: 40px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 50vw}
.u-section-1 .u-image-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-text-1 {width: auto; margin-bottom: -17px}
.u-section-1 .u-layout-cell-2 {background-position: 50% 50%; background-size: auto -95%}
.u-section-1 .u-group-2 {min-height: 90px; margin-top: -71px; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-3 {margin-top: -95px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 760px}
.u-section-1 .u-image-1 {min-height: 600px; margin-top: 20px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-wrap-1 {margin-top: -537px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 340px}
.u-section-1 .u-text-1 {margin: -20px -30px 0 0}
.u-section-1 .u-layout-cell-2 {min-height: 340px}
.u-section-1 .u-group-2 {margin-top: 0; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-3 {margin-top: -91px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1366px}
.u-section-1 .u-image-1 {min-height: 523px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-wrap-1 {margin-top: -473px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 237px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {font-size: 1.125rem; margin-top: -25px; margin-right: 221px}
.u-section-1 .u-layout-cell-2 {min-height: 154px}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-2 {margin-top: 669px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-group-3 {margin-top: -696px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-social-icons-1 {margin-top: -210px; margin-right: auto} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 562px}
.u-section-1 .u-image-1 {min-height: 587px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-wrap-1 {margin-top: -537px; margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 149px}
.u-section-1 .u-container-layout-2 {padding-bottom: 0}
.u-section-1 .u-text-1 {font-size: 1rem; margin-top: -20px; margin-right: 122px}
.u-section-1 .u-layout-cell-2 {min-height: 97px}
.u-section-1 .u-container-layout-3 {padding-top: 0}
.u-section-1 .u-group-2 {min-height: 80px; margin-top: 5px; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-3 {margin-top: -85px; margin-bottom: 20px; margin-right: initial; margin-left: initial}
.u-section-1 .u-social-icons-1 {margin-top: -66px} }